/* 基础样式重置 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #000;
  color: #33ff33;
}

.bigbox {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #121212;
  color: #33ff33;
  box-shadow: 0 2px 4px rgba(0,255,0,0.2);
}

.header, footer {
  background-color: #000;
  color: #33ff33;
  text-align: center;
  padding: 10px 0;
}

.nav-box span, .nav li a {
  color: #33ff33;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.nav li {
  margin: 0 15px;
}

.nav li a {
  text-decoration: none;
  color: #33ff33;
}

.nav li a:hover {
  color: #ffff00;
}

.banner {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.banner-image {
  width: 45%; /* 适当调整以适合布局 */
  height: auto;
  border-radius: 8px;
}

.myeducation {
  background-color: #121212;
  padding: 20px;
}

.education-background {
  display: flex;
  flex-direction: column;
}

.education-item {
  margin-bottom: 20px;
}

.education-item h3, .education-item p {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .nav {
      flex-direction: column;
  }

  .banner-image {
      width: 100%; /* 移动视图下调整为全宽 */
  }

  .education-background {
      flex-direction: column;
  }
}
