/* 基础样式重置 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #000; /* 背景色设置为黑色 */
  color: #33ff33; /* 文本颜色设置为亮绿色 */
}

/* 大容器样式 */
.bigbox {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #000; /* 保持背景为黑色 */
  color: #33ff33; /* 元素颜色调整为亮绿色 */
  box-shadow: 0 2px 4px rgba(0,255,0,0.2); /* 为盒子阴影也使用亮绿色 */
}

/* 导航栏样式 */
.header {
  background-color: #000; /* 背景色设置为黑色 */
  color: #33ff33;
  padding: 10px 0;
  text-align: center;
}

.nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.nav {
  list-style: none;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.nav li {
  margin: 0 15px;
}

.nav li a {
  color: #33ff33; /* 设置链接颜色为亮绿色 */
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.nav li a:hover {
  color: #ffff00; /* 鼠标悬停时改为黄色 */
}

/* 主要内容样式 */
.main {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.main_left, .main_center, .main_right {
  flex: 1;
  margin: 10px;
  color: #33ff33; /* 保持文字颜色为亮绿色 */
}

.main_left img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}

.content-box {
  padding: 20px;
  background-color: #121212; /* 内容盒子使用稍微亮一点的黑色 */
  box-shadow: 0 2px 4px rgba(0,255,0,0.2);
}

/* 响应式调整 */
@media (max-width: 768px) {
  .nav-box {
    flex-direction: column;
  }

  .nav {
    flex-direction: column;
    margin-top: 10px;
  }

  .nav li {
    margin: 5px 0;
  }

  .main {
    flex-direction: column;
  }

  .bigbox {
    margin: 10px;
  }
}
.my_life {
  background-color: #121212; /* 调整为深色背景以符合整体风格 */
  padding: 20px;
  color: #33ff33; /* 保持文本颜色为亮绿色 */
}

.mydaily {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px; /* 根据需要调整间隙 */
}

.picture {
  width: calc(50% - 10px); /* 减去gap的一半，确保两列布局 */
  text-align: center; /* 确保文本居中 */
}

.picture img,
.picture video {
  width: 100%; /* 确保媒体内容填满容器 */
  height: auto; /* 保持原始宽高比 */
  border-radius: 8px; /* 可选，为图片或视频添加圆角 */
}

@media (max-width: 768px) {
  .picture {
    width: 100%; /* 在小屏幕设备上使用100%宽度 */
  }
}

/* 页脚样式 */
footer {
  background-color: #000; /* 背景色设置为黑色 */
  color: #33ff33; /* 文本颜色设置为亮绿色 */
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
