/* 基础样式 */
body {
  font-family: 'Open Sans', sans-serif;
  background: #121212; /* 提供深色背景 */
  color: #33ff33;
  margin: 0;
  padding: 20px;
}

.bigbox {
  max-width: 800px;
  margin: auto;
  background-color: #000;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 255, 0, 0.7);
}

.header {
  background-color: #222;
  padding: 20px 0;
  color: #33ff33;
  text-align: center;
}

.nav {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav a {
  color: #33ff33;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav a:hover, .nav a.active {
  background-color: #33ff33;
  color: #000;
}

/* 项目经历卡片样式 */
.myprojects .project, .Python {
  background: linear-gradient(145deg, #1c1c1c, #0a0a0a);
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 255, 0, 0.6);
  transition: transform 0.2s ease;
  
}

.myprojects .project:hover, .Python:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 25px rgba(0, 255, 0, 0.8);
}

.game, .company_logo {
  width: 100px;
  height: auto;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}

/* 文本样式 */
h2, h3 {
  color: #33ff33;
}

.date, .position {
  font-style: italic;
  color: #bbb;
}

.output, .thesis-title {
  color: #aaa;
}

footer {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  color: #33ff33;
}

/* 媒体查询以改善响应式布局 */
@media (max-width: 768px) {
  .nav {
      flex-direction: column;
  }

  .game, .company_logo {
      float: none;
      display: block;
      margin: 0 auto 20px;
  }
}
